body{
    background-color: rgb(190, 232, 243);
}
section, .container, article{
    display: grid;
    place-items: center;
}
.title h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.underline{
    background-color: rgb(16, 160, 243);
    height: 5px;
    width: 100px;
    margin-bottom: 51px;
    border-radius: 10px;
}
article{
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}
.person-name{
    font-size: 22px;
    font-weight: 500;
}
.person-review{
    font-size: 16px;
}
.person-img{
    width: 20%;
    border-radius: 50%;
}
button{
    margin: 10px;
    padding: 10px 30px;
    border: none;
    color: deepskyblue;
    background-color: transparent;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
    color: seagreen;
}
.random-btn{
    display: block;
    margin-left: 25px;
    border: 2px solid rgb(13, 138, 221);
    border-radius: 10px;
    background-color: paleturquoise;
    color: rgb(13, 138, 221);
}
.random-btn:hover{
    background-color: rgb(13, 138, 221);
    color: black;
    cursor: pointer;
}